{{outlet}}
<footer class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="col-md-6"> </div>
			<span title="foo.bar@gmail.com" class="glyphicon glyphicon-envelope"></span>
    </nav>
</footer>
