{{outlet}}
<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="row">
			  <div class="col-md-6"></div>
					<span title="foo.bar@gmail.com" class="glyphicon glyphicon-envelope"></span>
			</div>
    </nav>
</div>
